<div id="<%= dom_id diary %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Written on:</strong>
    <%= diary.written_on %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= diary.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= diary.user_id %>
  </p>

</div>
